# Keil编译生成文件
*.axf
*.crf
*.d
*.dep
*.elf
*.hex
*.lnp
*.map
*.o
*.lst
*.build_log.htm

# Keil临时文件
*.uvguix.*
*.uvoptx
*.bak

# CubeMX备份文件
*.mxproject

# 系统文件
.DS_Store
Thumbs.db

# 编译输出目录
Objects/
Listings/
